.header__inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 3px;
    min-width: 220px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
.logo-title {
    
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    transition: 0.6s ease-in-out;
    position: relative;
}

.logo:hover {

    color: #E6C744;
    background-color: #000000;
    border-radius: 5px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: calc(10px + 40 * (100vw - 614px)/786);
   
}
.nav__item {
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #242323;
    text-transform: lowercase;
    transition: 0.2s;
}

.nav__item:hover {
    text-shadow: 4px 3px 8px rgba(36,35,35,0.4);
}

.burger-btn {
    position: relative;
    display: none;
    width: 50px;
    height: 50px;
    border-style: unset;
    background: transparent;
    cursor: pointer;
    z-index: 100;
}

.burger-btn:before, .burger-btn:after {
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #242323;
    transition: 0.2s ease-in-out;

}

.burger-btn:after {
    top: unset;
    bottom: 40%;
    width: 60%;
}

.burger-btn--active:before, .burger-btn--active:after {
    width: 100%;
    top: 50%;
    transform: rotate(-45deg);
}

.burger-btn--active:after {
    transform: rotate(45deg);
}


.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
}

.burger--active {
    visibility: visible;
    opacity: 1;
}

.burger__content {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    min-width: 250px;
    padding: 70px 25px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 40px;
    opacity: 1;
    background-color: #F5F5F5;
    transform: translateX(100%);
    transition: transform .5s ease-out;
}

.burger__content--active {
    transform: translateX(0);
    transition: transform .5s ease-out;
}

.burger__logo {
    text-decoration: none;
    color: #000000;
}

.burger__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;

    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #242323;
}

.burger__nav-item {

    text-transform: lowercase;
    text-decoration: none;
    color: #000000;
}

.burger__contacts {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.burger__contacts-mail, .burger__contacts-tg {
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.burger__contacts-mail {
    background-image: url(../resourses/contacts_icn/mail.svg);
}

.burger__contacts-tg {
    background-image: url(../resourses/contacts_icn/telegram.svg);
}

.burger__contacts-mail:hover, .burger__contacts-tg:hover {
    cursor: pointer;
    opacity: 1;
}


@media (max-width: 900px) {
    .nav {
        display: none;
    }

    .burger-btn {
        display: block;
    }

}


