@import url(../styles/reset.css);
@import url(../styles/header.css);
@import url(../styles/welcome.css);
@import url(../styles/clients.css);
@import url(../styles/project.css);
@import url(../styles/stack.css);
@import url(../styles/skills.css);
@import url(../styles/footer.css);



body {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.03em;
    background: #F5F5F5;
    color: #191C19;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1430px;
    width: 100%;
}

.body__fix {
    overflow: hidden;
}

section, footer {
    margin-top: 60px;
    padding: 30px 0;
}

.yellow {
    background-color: #EBD96B;
}

h2 {
    margin-bottom: 30px;
    position: relative;
    font-weight: 100;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

h2:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: calc(50% - 70px);
    width: 100px;
    height: 77%;
    transform: translate(34px, -3px) rotate(-2deg);
    border-top-left-radius: 61px 101px;
    border-bottom-right-radius: 108px 68px;
    background-color: #EBD96B;
    z-index: -1;
}

h3 {
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    opacity: 0.7;
}

@media (max-width: 1200px) {
 
}

@media (max-width: 900px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 10px;
        min-width: 370px;
    }
}
