@import url(reset.css);
@import url(/styles/header.css);

body {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.03em;
    background: #F5F5F5;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1430px;
    width: 100%;
}

.body__fix {
    overflow: hidden;
}

@media (max-width: 1200px) {
 
}

@media (max-width: 900px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 600px) {
 
}
